body{
  margin: 0;

}
nav {
  display: flex;
  float: left;
  padding: 10px;
  width: 100%;
  background-color: black;

}
button{
	margin: 10px;
	border-radius: 12px;
}
input{
	margin: 10px;
	padding: 5px;
	text-align: center;
	border-radius: 8px;
	border-width: 1px;
}


.logo{
  color: white;
  padding: 0 15px;
  margin: 0 15px;

}
.bar{
  font-size: 20px;
  text-align: center;
  color: white;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  
}
.searchBar {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
	color: black;
	padding: 0 15px;
	margin: 0 15px;
}
.bar{
	font-size: 20px;
	text-align: center;
	color: white;
	display: flex;
	list-style-type: none;
	justify-content: space-around;
}
.searchBar {
	font-size: 20px;
	text-align: center;
	font-weight: bold;



}
.input{
  padding: 8px;
  border-radius: 8px;
  border-width: 1px;
  margin: 20px;
	padding: 8px;
	border-radius: 8px;
	border-width: 1px;
	margin: 20px;
	
}
.list {
	width: 25%;
	margin: auto;

	padding: 10px;
	font-size: 20px;
	list-style-type: none;
	border-radius: 8px;
	}
.box{
	border-radius: 8px;
	width: 25%;
	margin: auto;
	background-color: #E7EAEA;
}